---
import Layout from "../layouts/Layout.astro"
import LuxusHeader from "../components/LuxusHeader.astro"
import Nosotros from "../components/Nosotros.astro"
import Portfolio from "../components/Portfolio.astro"
import Reservas from "../components/Reservas.astro"
import RRSS from "../components/RRSS.astro"
import '@fortawesome/fontawesome-free/css/all.min.css';
---
<Layout title="Luxus Fotografía - Sitio Oficial">
    <LuxusHeader/>
    <Nosotros/>
    <Portfolio/>
    <Reservas/>
    <RRSS/>
    <div class="h-40 bg-main"></div>
</Layout>