---

---
<div class="bg-main">
    <div class="flex justify-center items-center py-4 text-gray-400 gap-2 border-t border-gray-600 mx-6">
        <span>© Argentina 2024</span> <i class="heart fa-regular hover:fa-solid fa-heart text-luxus"></i> By <a href="https://www.instagram.com/LUXUSFOTOGRAFIA/" class="text-luxus font-bold">Luxus Fotografia</a></p>
    </div>
</div>