---

---

<div class="text-white w-full flex justify-center items-center flex-col luxus-header">
  <h1 class="font-bold my-3 text-8xl">Luxus</h1>
  <h2 class="mb-5 mt-4 text-6xl">Fotografia &amp; Filmmaker</h2>
  <a href="#gallary" class="bg-luxus w-fit p-4 rounded mt-12 text-xl">Visita nuestra galeria</a>
</div>
