---

---

<div class="grid md:grid-cols-2 grid-cols-1 grid-rows-1 w-full shadow-up-down shadow-gray-800 z-10">
  <div class="">
      <img src="imgs/about-section.jpg" alt="hero" class="w-full h-[450px] object-cover" />
  </div>
  <div class="flex flex-col p-[10%] bg-main text-white gap-6">
      <h3 class="text-4xl">Nosotros</h3>
      <p>Desde Luxus queremos brindarte una experiencia audiovisual con un enfoque distinto, una mirada sobre las emociones que surgen en uno de los días mas importante de tu vida.</p>
      <p>Trabajaremos para asegurarnos de que cada detalle sea perfecto, cada imagen transmita la originalidad y belleza de tu amor.</p>
      <p class="font-bold">Para nosotros tu boda es más que un evento!</p>
  </div>
</div>