---

---
<div class="grid md:grid-cols-3 grid-cols-1 md:gap-0 gap-8 grid-rows-1 w-full bg-main py-8">
  <div class="flex justify-center items-center flex-col">
    <i class="fa-brands fa-whatsapp text-white fa-2x"></i>
    <a href="#" class="text-luxus hover:font-bold mt-4">Whatsapp</a>
    <p class="text-gray-400">(11) 6013-9145</p>
  </div>
  <div class="flex justify-center items-center flex-col">
    <i class="fa-brands fa-instagram text-white fa-2x"></i>
    <a href="#" class="text-luxus hover:font-bold mt-4">Instagram</a>
    <p class="text-gray-400">@luxusfotografia</p>
  </div>
  <div class="flex justify-center items-center flex-col">
    <i class="fa-regular fa-envelope text-white fa-2x"></i>  
    <a href="#" class="text-luxus hover:font-bold mt-4">Email</a>
    <p class="text-gray-400">luxusfotografia@gmail.com</p>
  </div>
</div>